.button {
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0070f3;
    border: none;
    cursor: pointer;
    transition: transform .2s ease;
}

.button:hover {
    background-color: #1f83f5;
}


.button:active {
    transform: scale(.95);
}

.delete {
    background-color: rgb(255, 99, 99);
    color: rgb(255, 235, 235);
}

.delete:hover {
    background-color: rgb(252, 79, 79);
    color: rgb(255, 235, 235);
}
.delete:active{
    transform: scale(.95);
}