.card {
    box-sizing: border-box;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1rem;
    cursor: pointer;
}


.card__index {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.card:hover .card__index {
    transform: scale(1);
}

.card__body {
    margin-bottom: 1rem;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: rgb(48, 48, 48);
}
.card__description {
    height: 75px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.text{
    color: rgb(80, 80, 80);
}
