@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: wrap;
    src: url('/assets/fonts/lato-regular-webfont.woff') format('woff');
}

* {
    font-family: 'Lato';
}